@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

/* Comman Css */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
.bg_light{
    background: #f8f8f8;
}
.bg_brown_light{
    background: #7b502e14;
}
.bg_brown{
    background: #7b502e;
}
.bg_orange{
    background: #f05a29;
    color: white!important;
}
.float-right {
    float: right !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.page_wrapper{
    padding: 20px;
    position: relative;
    /* min-height: 600px; */
	height: 100vh;
}
.media{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
	margin-top: 0px;
}
.file_upload {
    position: relative;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 3px 6px;
}
.file_upload i{
    float: right;
    margin-top: 3px;
    color: #f05a29;
}
.file_upload input{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    right: 0;
    top: 0;
}
.btn_checkbox{
    position: relative;
    padding-left: 20px !important;
    margin-right: 4px;
}
.btn_checkbox input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}
.btn_checkbox .checkmark {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.btn_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.btn_checkbox input:checked ~ .checkmark:after {
    display: block;
}
.btn_checkbox .checkmark:after {
    left: 3px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: solid #f05a29;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* End Comman Css */
/* Css For Radio Button Design */
.btn_radio{
    position: relative;
    padding-left: 20px !important;
    margin-right: 4px;
}
.btn_radio input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}
.btn_radio .checkmark {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #fff;
    border:1px solid transparent;
}
.btn_radio input:checked ~ .checkmark {
    background-color: #bd451d;
    border-color: #fff;
}
/* End Css For Radio Button Design */

/* Animation Date Time Picker Css */
.dtp .dtp-buttons button {
    outline: none;
    box-shadow: none;
    padding: 2px 10px;
    font-size: 10px;
    margin-right: 2px;
    font-weight: 600;
}
.dtp div.dtp-actual-maxtime{
	font-size: 20px;
}
.dtp a.dtp-meridien-am, 
.dtp a.dtp-meridien-pm {
	padding: 8px;
	font-size: 10px;
	font-weight: 600;
}
/* End Animation Date Time Picker Css */

/* Header Css */
.header img{
    width: 110px;
}
/* End Header Css */

/* Chat Panel Css */
.chat_panel{
    width: 60%;
    margin: 0px auto;
}
.chat_panel .card-header{
    background: #f05a29;
    padding: 10px;
    border-bottom: none;
}
.chat_panel .card-header img{
    width: 55px;
}
.chat_panel .card-body{
    padding: 15px;
    height: 316px;
    overflow-y: auto;
	border: 1px solid rgba(0,0,0,.125);
}
.chat_panel .card-body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f7fafc;
}

.chat_panel .card-body::-webkit-scrollbar
{
	width: 2px;
	background-color: #696666;
}

.chat_panel .card-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    box-shadow: inset 0 0 6px #0000004d;
	background-color: #f05a29;
}
.chat_content{
    margin-bottom: 18px;
    padding-top: 3px;
    overflow: hidden;
}
.chat_content .media-body{
    /* margin-top: -6px; */
	width: 100%;
}
.chat_content .fox_icon{
    width: 40px!important;
	border-radius: 50px;
}
.chat_content small{
    font-size: 10px;
    color: #9b9b9b;
    display: block;
}
.chat_content .chat_txt{
    width: fit-content;
    max-width: 320px;
    padding: 7px 30px;
    border-radius: 15px;
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 5px;
}
.embed_att iframe
{
    width:300px;
    height:150px;
}
.chat_content .float-right .chat_txt{
    color: #fff;
    font-weight: 300;
    display: inline-block;
}
.chat_content p{
	font-size: 12px;
    font-weight: 500;
}
.chat_content .name{
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}
.chat_content .time{
    color: #9c9c9c;
    font-size: 11px;
    font-weight: 600;
}
.chat_content .date_status{
    background: #f7e3dc;
    color: #f05a29;
    display: block;
    width: fit-content;
    padding: 3px 30px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 10px;
	margin: 2px 0px 8px 0px;
}
.chat_content .form{
    width: 50%;
}
.chat_content .form .form-control{
    background: none;
    color: #9b9b9b;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: 2px;
    height: auto !important;
}
.chat_content .form .form-control::placeholder{
    color: #9b9b9b;
}
.chat_content .chat_btn{
    padding-bottom: 2px;
}
.chat_content .chat_btn a{
    padding: 3px 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 300 !important;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: none;
}
.chat_content .attachment_box{
    margin-bottom: 5px;
}
.chat_content .attachment{
    width: 130px;
    height: 130px;
    position: relative;
    background: #dbdbdb;
    border-radius: 10px;
    cursor: pointer;
}
.chat_content .attachment .file_img{
    border-radius: 10px;
    width: 100%;
}
.chat_content .attachment .file_icon{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.chat_content .attachment .file_byt{
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: #000000;
    color: #fff;
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 50px;
}
.chat_content .file_name{
    font-size: 10px;
    text-align: right;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 0px;
}
.chat_panel .chat_footer{
    display: inline-flex;
    background: #f8f8f8;
    padding: 8px 15px;
	border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    border-top: none;
}
.chat_panel .chat_footer .field{
    width: 100%;
}
.chat_panel .chat_footer .field input{
    width: 100%;
    border: none;
    background: none;
    font-size: 12px;
    outline: none;
    color: #333;
}
.chat_panel .chat_footer .field input::placeholder{
    color: #afafaf;
}
.chat_panel .chat_footer .microphone,
.chat_panel .chat_footer .paperclip {
    cursor: pointer;
}
.chat_panel .chat_footer .microphone img,
.chat_panel .chat_footer .paperclip img{
    width: 15px;
}
/* End Chat Panel Css */

/* Chat Bottom Button Css */
.icon_card{
    position: absolute;
    bottom: 50px;
    right: 30px;
    width: 260px;
    background: #ef5a29;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
}
.icon_card .media{
    border-bottom: 1px solid #c8512a;
    position: relative;
    padding: 10px;
    padding-bottom: 4px;
}
.icon_card .media img{
    width: 20px;
}
.icon_card .media .media-body h5{
    font-size: 14px;
    margin-bottom: 0px;
	margin-top: 0px;
}
.icon_card .media .media-body p{
    font-size: 10px;
    margin-bottom: 0px;
}
.icon_card .media .close_btn{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
}
.icon_card .chat_btn{
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
    padding: 4px 10px;
}
.bottom_icon .icon_img{
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #ef5a29;
    box-shadow: 0px 0px 15px #ef5a29;
    text-align: center;
    cursor: pointer;
}
.bottom_icon .icon_img a{
	display: block;
}
.bottom_icon .icon_img img{
    background: none;
    width: 20px;
    height: 20px;
}
.bottom_icon .icon_img i{
    color: #fff;
    line-height: 40px;
	width: 100%;
}
/* End Chat Bottom Button Css */

/* Css For Media Query */
@media only screen and (max-width: 991px) {
.chat_panel {
    width: 75%;
}    
}
@media only screen and (max-width: 768px) {
.chat_panel {
    width: 98%;
}    
}
@media only screen and (max-width: 575px) {
.page_wrapper {
    min-height: 530px;
}    
.header{
    text-align: center;
} 
.chat_panel{
    margin-bottom: 40px;
} 
.chat_content .form{
    width: 90%;
} 
.chat_content .chat_btn a{
    display: table;
    margin-bottom: 3px;
}
}